// customize some Bootstrap variables
$primary: #808080;
$secondary: #121f24;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(236, 236, 236);
}

nav {
    background-color: $secondary !important;
}
