// customize some Bootstrap variables
$primary: #eeba80;
$secondary: #121f24;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
}

nav {
    background-color: $secondary !important;
}
